<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <nav id="target-top" class="navbar navbar-default">
            <!--/*/ <th:block th:include="fragments/navigationbar :: navigation"></th:block> /*/-->
        </nav>
    <section class="post-header">
        <div class="container">
            <h2>Admin panel</h2>
        </div>
    </section>
    <section class="post-body">
        <div class="container">
            <div class="admin-menu-section">
                <h2>Add post</h2>
                <div class="admin-menu">
                    <form th:object="${post}" th:action="@{/adminpanel/post/add}" method="post">
                        <div class="form-group post-input-fieds">
                            <label for="title">Post title:</label>
                            <input th:field="*{title}" type="text" class="form-control" id="title" />
                        </div>
                        <div class="form-group post-input-fieds">
                            <label for="slug">Slug:</label>
                            <input th:field="*{slug}" type="text" class="form-control" id="slug" />
                        </div>
                        <div class="form-group post-input-fieds">
                            <label for="teaser">Teaser:</label>
                            <input th:field="*{teaser}" type="text" class="form-control" id="teaser" />
                        </div>
                        <div class="form-group post-input-fieds" id="editor">
                            <label for="content">Content:</label>
                            <textarea th:field="*{body}" class="form-control" rows="20" id="content"></textarea>
                        </div>
                        <input type="submit" class="btn btn-info" value="Submit Button" />
                    </form>
                 </div>
            </div>
        </div>
    </section>

    <footer class="main-footer">
        <div class="copyright">
            <p>Copyright &copy; 2017  Temporibus autem quibusdam et</p><a id="target-bottom"></a>
        </div>
    </footer>
    <script src=".\..\..\lib\jquery\jquery-3.2.1.js"></script>
    <script src=".\..\..\lib\bootstrap\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
    </body>

</html>
