<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <nav id="target-top" class="navbar navbar-default">
            <!--/*/ <th:block th:include="fragments/navigationbar :: navigation"></th:block> /*/-->
        </nav>
    <section class="post-header">
        <div class="container">
            <h2>Admin panel</h2>
        </div>
    </section>
    <section class="post-body">
        <div class="container">
            <div class="admin-menu-section">
                <h2>Posts</h2>
                <div class="admin-menu">
                    <div class="admin-item">
                        <button type="button" class="btn btn-default admin" aria-label="Left Align"><a th:href="@{/adminpanel/post/add}" href="add_post.html">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </a>
                        </button>
                        <span>Add item</span>
                    </div>
                    <div class="admin-item">
                        <button type="button" class="btn btn-default admin" aria-label="Left Align">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                        </button>
                        <span>Remove item</span>
                    </div>
                    <div class="admin-item"> 
                        <button type="button" class="btn btn-default admin" aria-label="Left Align">
                        <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <span>Edit item</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="main-footer">
        <div class="copyright">
            <p>Copyright &copy; 2017  Temporibus autem quibusdam et</p><a id="target-bottom"></a>
        </div>
    </footer>
    <script src="lib/jquery/jquery-3.2.1.js"></script>
    <script src="lib/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    </body>

</html>
