<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head></head>
<body>
    <section th:fragment="footermain">
        <div class="container">
            <h2>"At vero eos et accusamus et <br/>iusto odio dignissimos"</h2>
            <a href="#target-top">
                <i class="fa fa-arrow-circle-up" style="font-size:52px;color:white"></i>
            </a>
        </div>
        <footer class="main-footer">
            <div class="copyright">
                <p>Copyright &copy; 2017  Temporibus autem quibusdam et</p><a id="target-bottom"></a>
            </div>
        </footer>
    </section>
</body>
</html>