<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <nav id="target-top" class="navbar navbar-default">
            <!--/*/ <th:block th:include="fragments/navigationbar :: navigation"></th:block> /*/-->
        </nav>
        <section class="header-banner">
                <div class="main-header">
                    <div class="main-header-content">
                        <h1>Nam libero tempore, cum soluta nobis est</h1>
                        <p>"Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis"</p>
                        <a href="#target-bottom">
                            <i class="fa fa-arrow-circle-down" style="font-size:52px;color:white"></i>
                        </a>
                    </div>
                </div>
        </section>   
        <!--<section class="text">
            <div class="container"></div>
        </section>-->
        <section class="banner">
            <div class="container">
                <h2>"Itaque earum rerum hic tenetur a sapiente <br/> delectus, ut aut reiciendis"</h2>
            </div>
        </section>
        <section class="text">
            <div class="container">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
                </p>
            </div>
        </section>
        <section class="banner">
            <div class="container">
                <h2>"At vero eos et accusamus et <br/>iusto odio dignissimos"</h2>
            </div>
        </section>
        <section class="text">
            <div class="container">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
                </p>
            </div>
        </section>
        <section class="footer-banner">
            <!--/*/ <th:block th:include="fragments/footer-main :: footermain"></th:block> /*/-->
        </section>

    <script src="lib\jquery\jquery-3.2.1.js"></script>
    <script src="lib\bootstrap\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
    </body>

</html>
